body {
  background-color: #21224d;
}
#title {
  color: aliceblue;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
.success-msg {
  color: aqua;
}
.error-msg,
.notify-msg {
  color: aqua;
}
.new-msg {
  color: antiquewhite;
}
.version {
  position: absolute;
  top: 10px;
  right: 20px;
  color: cornsilk;
}

.c-white {
  color: aliceblue;
}
